---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import AppNavbar from "@components/AppNavbar";
import AppFooter from "@components/AppFooter.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import getUniqueTags from "@utils/getUniqueTags";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;

const allPosts = await getCollection("blog");
const allTags = getUniqueTags(allPosts);
const navLinks = [
  { label: "HOME", href: "/" },
  ...allTags.map(t => ({
    label: t.tagName.toUpperCase(),
    href: `/tags/${t.tag}`,
  })),
];
---

<Layout title={`Posts | ${SITE.title}`}>
  <AppNavbar client:load activeHref="/posts" navLinks={navLinks} />
  <Main pageTitle="Posts" pageDesc="Read freely.">
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/posts/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/posts${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/posts/${currentPage + 1}/`}
  />

  <AppFooter />
</Layout>
